body {
    margin: 0;
    box-sizing: border;
    height: 100vh;
    width: 100vw;
}

#container,
#output {
    height: 100%;
    width: 100%;
}

#music163 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

#music163 iframe {
    width: 38.2%;
    max-width: 350px;
    height: 81%;
}

.color {
    width: 120px;
    height: 20px;
    margin: 0;
    padding: 0;
    bottom: 20px;
    position: fixed;
    left: calc(50vw - 60px);
}

.color li {
    float: left;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: #ccc;
    box-shadow: 0 0 4px #FFF;
    list-style: none;
    cursor: pointer;
}

.color li:nth-child(1) {
    background: #002c4a;
}

.color li:nth-child(2) {
    background: #35ac03;
}

.color li:nth-child(3) {
    background: #ac0908;
}

.color li:nth-child(4) {
    background: #18bbff;
}
